#text {
      width: 100%;
      height: 700px;
      text-align: center;
      font-size: 50px;
      font-family: 'Quicksand';
    }
    body {
      text-align: center;
      font-family: 'Quicksand';
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
    p {
      text-align: left;
    }
a:hover {
  content: "email me";
  background-color: #5AD;
  -webkit-transition-duration: 0.8s;
    /* Safari */
    
    transition-duration: 0.8s;
}
.mail {
      background-color: black;
      color: white;
      padding: 30px;
}
.blackbar {
      padding: 15px;
      background-color: black;
}
.bottom {
       position: fixed;
     bottom: 0;
     right: 0;
}
p a {
color: white;
text-decoration: none;
}
h6 {
      color: #0575E6;
}
h4 {
      font-size: 25px;
      color: #0575E6;
}
a {
      font-size:15px;
      font-family:'Quicksand';
      font-size: 25px;
}
input {
      border-radius: 30px;
}
